*{
  padding: 0.01vw 0.1vw;
  background-color: #0e1111;
}

.contact-me {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0;
}
.contact-heading {
  color: #fff8f3;
  text-align: center;
  font-size: 3.5vw;
  padding: 0.5vw;
  margin: 1vw 0 ;
}
.contact-way {
  padding: 0 10% 0;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 7vw;
}

.contact-box:hover {
  width: 9vw;
}

.contact-element {
  width: 50%;
  height: auto;
}
