*{
  margin: 0;
  padding: 0;
  background-color: #ffe6e6;
}
.about-me {
  padding: 2% 0;
}
.about-section {
  margin: 0;
  text-align: center;
  justify-content: center;
}

.about-me-heading {
  color: #330000;
  font-size: 3.5vw;
  padding: 1% 0;

}
.about-me-info {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  padding: 0 10%;
}

.about-me-image {
  padding: 2% 0;
  flex-grow: 1;
  width: 33%;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.about-me-intro {
  padding: 2% 5%;
  flex-grow: 1;
  width: 100%;
  color: #660000;
  text-align: left;
}

.about-me-intro-line {
  font-size: 1.3vw;
  font-style: italic;
}

.about-me-contact-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  font-size: 1.2vw;
}

.about-me-table-left {
  justify-content: left;
  padding: 0;
}

.about-me-table-right {
  justify-content: left;
  padding: 0;
}

.about-me-data {
  list-style: none;
  margin: 0;
  padding: 1% 2%;
}

.about-me-link {
  list-style: none;
  margin: 0;
  padding: 0 2%;
}

.about-me-link a:link {
  color: #660000;
  text-decoration: none;
}

.about-me-link a:hover {
  color: #000000;
}
@media (max-width: 992px) {
  .about-me-info {
    flex-direction: column;
    align-items: center;
  }
  .about-me-intro {
    text-align: center;
  }
  .about-me-contact-info {
    display: none;
  }
}

@media (max-width: 768px) {
  .about-me-heading {
    font-size: 6vw;
  }
  .about-me-intro-line {
    font-size: 5vw;
  }
}
