<div class="aboutme" id="aboutme">
  <div class="about-me">
    <div class="about-me-heading">
      <h1>About Me</h1>
    </div>
    <div class="about-me-info">
      <div class="about-me-image">
        <img class="naksh_img1" src="{{ image1 }}" alt="Image" />
      </div>
      <div class="about-me-intro">
        <h2>
          <p class="about-me-intro-1">
            My objective is to be a part of a fast growing MNC in a position
            that offers opportunites to work in Full Stack Web Development
            environment where I can use my knowledge and experience in Frontend
            Web Development.
          </p>
        </h2>
        <br />
        <div class="about-me-intro-2">
          <ul class="about-me-table-left">
            <li class="about-me-data">Mail</li>
            <li class="about-me-data">Phone</li>
          </ul>
          <ul class="about-me-table-right">
            <li class="about-me-link">
              <a class="about-me-link" href="mailto:nakshatrajain246@gmail.com"
                >nakshatrajain246@gmail.com</a
              >
            </li>
            <li class="about-me-link">
              <a class="about-me-link" href="tel:+919971139934"
                >+91-9971139934</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="skills-section">
    <div class="skills-heading">
      <div class="skills-heading-name">
        <h1>My <span id="skills-heading-name"> Skills</span></h1>
      </div>
      <div class="skills-heading-description">
        <h2>
          Here’s the most useful writing skills guide this side of Nakshatra
          Jain.
        </h2>
      </div>
    </div>
    <div class="skills-list">
      <div class="skills-box1">
        <div *ngFor="let skill of skillInfo1" class="skill">
          <div class="skill-name">
            <p>{{ skill.name }}</p>
            <p>{{ skill.percentage }}</p>
          </div>
          <div class="skill-bar">
            <span class="{{ skill.id }} skill-bar-progress"></span>
          </div>
          <br /><br />
        </div>
      </div>

      <div class="skills-box2">
        <div *ngFor="let skill of skillInfo2" class="skill">
          <div class="skill-name">
            <p>{{ skill.name }}</p>
            <p>{{ skill.percentage }}</p>
          </div>
          <div class="skill-bar">
            <span class="{{ skill.id }} skill-bar-progress"></span>
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
