<div class="about-me" id="aboutme">
  <div class="about-section">
    <div class="about-me-heading">
      <h1>About Me</h1>
    </div>
    <div class="about-me-info">
      <div class="about-me-image">
        <img class="image" src="{{ image1 }}" alt="Image" />
      </div>
      <div class="about-me-intro">
        <h2>
          <p class="about-me-intro-line">{{intro1}}</p>
          <p class="about-me-intro-line">{{intro2}}</p>
          <p class="about-me-intro-line">{{intro3}}</p>
          <p class="about-me-intro-line">{{intro4}}</p>
        </h2>
        <br />
        <div class="about-me-contact-info">
          <ul class="about-me-table-left">
            <li class="about-me-data">Mail</li>
            <li class="about-me-data">Phone</li>
          </ul>
          <ul class="about-me-table-right">
            <li class="about-me-link">
              <a class="about-me-link" href={{email.link}}>{{email.name}}</a>
            </li>
            <li class="about-me-link">
              <a class="about-me-link" href={{phone.link}}>{{phone.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-skills></app-skills>
</div>
