<header>
  <nav class="navbar">
    <a routerLink="home" class="nav-name-link">
      {{ initials }}
      <p class="nav-portfolio">{{ portfolio }}</p>
    </a>

    <ul class="nav-menu">
      <li *ngFor="let element of navbarHeader" class="nav-item">
        <a class="nav-link" routerLink="{{ element.link }}">{{
          element.name
          }}</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="assets/documents/resume.pdf" download="Resume_Nakshatra_Jain.pdf">Resume</a>
      </li>
    </ul>

    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
