* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);*/
}

.navbar {
  background-color: black;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-name-link {
  display: flex;
  font-style: Extra Bold Italic;
  font-size: 50px;
  line-height: 61px;
  line-height: 100%;
  transition: 0.5s ease;
  color: #1e90ff;
  text-decoration: none;
}

.nav-portfolio {
  font-style: italic;
  display: flex;
  color: white;
  font-size: 35px;
}
.nav-link {
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-item {
  overflow: hidden;
  list-style: none;
  margin: 16px 0;
  font-size: 20px;
  line-height: 30px;
  line-height: 100%;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: centre;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

