* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: black;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-name-link {
  display: flex;
  font-style: Extra Bold Italic;
  font-size: 50px;
  line-height: 61px;
  line-height: 100%;
  transition: 0.5s ease;
  color: #1e90ff;
  text-decoration: none;
}

.nav-portfolio {
  font-style: italic;
  display: flex;
  color: white;
  font-size: 35px;
}
.nav-link {
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-item {
  overflow: hidden;
  list-style: none;
  margin: 16px 0;
  font-size: 20px;
  line-height: 30px;
  line-height: 100%;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: centre;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

.header-white-line {
  background-color: white;
  padding: 1.5%;
}

/*Contact Me*/

.contact-me {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 0 2% 0;
}
.contact-heading {
  color: #003333;
  text-align: center;
  font-size: 2.15vw;
}
.contact-way {
  padding: 3% 10% 0;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 10vw;
}

.contact-box:hover {
  width: 12vw;
}

.contact-element {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .contact-heading {
    font-size: 5vw;
  }
  .contact-way {
    padding: 3% 2%;
  }
}
