<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" class="button">
      <mat-icon class="mat-icon">menu</mat-icon>
    </button>
    <a routerLink="home" class="nav-heading">
      <p class="nav-initials">{{ initials }}</p>
      <p class="nav-portfolio">{{ portfolio }}</p>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="content">
  <mat-sidenav #sidenav class="sidenav" (click)="sidenav.toggle()">
    <mat-nav-list>
      <ul class="nav-menu">
        <li *ngFor="let element of navbarHeader" class="nav-item">
          <a class="nav-link" routerLink="{{ element.link }}" mat-list-item>{{
            element.name
            }}</a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <ngx-ui-loader></ngx-ui-loader>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
